{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">¡Hola!</h4>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <h5>Bienvenido a RASI-MEDICAL</h5>
                    <p>Utilice el menú superior para navegar entre las diferentes secciones de la aplicación.</p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

