<!-- historia_clinica/templates/historia_clinica/historia_clinica_create.html -->
{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <br>
    {{ form.as_p }}
    <button type="submit" class="btn btn-success waves-effect waves-light">Crear Historia Clínica</button>
    <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/historia_clinica/' ">Regresar
    </button>
</form>
{% endblock %}
